<div class="modal">
    <ion-header-bar>
        <h1 class="title">글쓰기</h1>
        <div class="buttons">
            <button class="button button-clear pointFontColor" ng-click="closeWrite()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">제목</span>
                    <!--          <input type="text" ng-model="loginData.username">-->
                    <input type="text" placeholder="제목" ng-model="inputData.title" />
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">닉네임</span>
                    <!-- <input type="text" ng-model="loginData.username">-->
                    <input type="text" placeholder="닉네임" ng-model="inputData.nickName" />
                </label>
                <label class="item item-input item-floating-label" style="height : 150px !important">
                    <span class="input-label">내용</span>
                    <!-- <input type="text" ng-model="loginData.password">-->
                    <textarea id="input_textarea" placeholder="내용" ng-model="inputData.body" style="height : 300px !important"></textarea>
                </label>

            </div>
        </form>
        <ion-scroll direction="x" class="wide-as-needed">
            <!-- <div class="wrapper"> -->
                <img ng-repeat="image in images" style="max-height:20%; margin-left : 3px !important" ng-src="{{urlForImage(image)}}"/>
                <!-- <div class='description'>
                    <i class='description_content ion-close-circled'></i>
                </div> -->
            <!-- </div> -->
        </ion-scroll>
        <div class="row">
            <button class="button button-block button-dark" ng-click="addImage()">사진</button>
            <button class="button button-block button-dark" ng-click="doWrite()">올리기</button>
        </div>
    </ion-content>
</div>
