<div class="modal">
    <ion-header-bar>
        <h1 class="title">글쓰기</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeWrite()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <!-- <span class="input-label">제목</span> -->
                    <!--          <input type="text" ng-model="loginData.username">-->
                    <input type="text" placeholder="제목" ng-model="inputData.title" />
                </label>
                <label class="item item-input">
                    <!-- <span class="input-label">닉네임</span> -->
                    <!-- <input type="text" ng-model="loginData.username">-->
                    <input type="text" placeholder="닉네임" ng-model="inputData.nickName" />
                </label>
                <label class="item item-input">
                    <!-- <span class="input-label">내용</span> -->
                    <!-- <input type="text" ng-model="loginData.password">-->
                    <input type="text" placeholder="내용" ng-model="inputData.body"/>
                </label>

            </div>
        </form>
        <div class="row">
            <button class="button button-block button-dark" ng-click="addImage()">사진</button>
            <button class="button button-block button-dark" ng-click="doWrite()">올리기</button>
        </div>
        <ion-scroll direction="x" class="wide-as-needed">
            <div class="wrapper">
                <img ng-repeat="image in images" style="max-height:20%; margin : 3px" ng-src="{{urlForImage(image)}}"/>
                <!-- <img class="full-image" ng-src="http://lorempixel.com/{{item.width}}/{{item.height}}/{{item.pictureType}}/{{item.id}}"> -->
                <div class='description'>
                    <!-- description content -->
                    <i class='description_content ion-close-circled'></i>
                    <!-- end description content -->
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</div>
