<ion-view view-title='{{name}}'>
    <nav mfb-menu
         position="br"
         effect="slidein-spring"
         active-icon="ion-compose"
         resting-icon="ion-compose"
         toggling-method="click"
         ng-click="write()"></nav>
    <ion-content style="background-color: #EEEEEE !important"
                 delegate-handle="mainScroll"
                 has-bouncing="true"
                 scroll="true">
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-item class="ionListItemCardStyle"
                  ng-repeat="item in items track by $index"
                  href="#/app/adspot/{{item.Id}}">
            <div class="card">
                <div id="{{'lightening' + $index}}" >
                    <div class="item item-divider item-text-wrap"
                         style="background : white">
                        <div ng-show="item.Duration < 3000; item.Duration != 0">
                            <table align="right"
                                   style="width:70px; border: 1px solid #FEAB62; border-collapse: collapse; ; margin-bottom : 7px">
                                <tr>
                                    <th>
                                        <span style="font-size : 13px; color : #FEAB62">마감임박</span>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <b style="font-size : 18px">{{item.Title}}</b>

                        <p style="font-size : 10px; margin-top : 3px !important">
                            <i style="font-size : 15px">{{item.NickName}}</i>
                            <i style="font-size : 12px; margin-left : 3px !important">{{item.LastUpdateDate | date: 'yyyy-MM-dd HH:mm:ss a'}}</i>
                        </p>

                        <div ng-if="item.Duration > 0"
                             style="margin-top : 10px">
                                    <timer end-time="item.EndDate"
                                           interval="1000" language="ko"
                                           finish-callback="timerDone(item)">
                                        <i class="ion-ios-alarm"
                                           style="color : #34BAAA"></i>
                                        <span style="font-size : 15px; color : #34BAAA">
                                            <span ng-show="days != 0"> {{days}}일</span>
                                            <span ng-show="hours != 0">{{hours}}시간</span>
                                            <span>{{mminutes}} 분</span>
                                            <span>{{sseconds}} 초</span>
                                            <span> 남음</span>
                                        </span>

                                    </timer>
                        </div>

                        <span ng-if="item.Duration <= 0"
                              style="font-size : 15px; color : red">마감된 이벤트 입니다</span>
                        <hr size="1"
                            style="border-color: white">
                        <pre style="font-size : 18px; margin-top : 20px !important; margin-bottom : 12px !important">{{item.Description}}</pre>
                    </div>
                    <div class="item item-text-wrap"
                         style="padding:0px;">
                        <ion-scroll delegate-handle="{{'horizontal' + $index}}"
                                    direction="x"
                                    scrollbar-y="false"
                                    scrollbar-x="false"
                                    horizontal-scroll-fix="mainScroll"
                                    class="wide-as-needed"
                                    style="position:relative;left:0px">
                            <img ng-show="item.Images.length > 0"
                                 ng-repeat="image in item.Images"
                                 style="height:100px; margin : 2px !important"
                                 ng-src="{{getImageURL(image)}}"/>
                        </ion-scroll>
                    </div>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left"
                     style="background-color : #f1f1f1">
                    <a class="tab-item" ng-click="onShare('lightening' + $index, item.Title)">
                       <!--href="#/app/localinformation/{{item.id}}">-->
                        <i class="icon ion-forward"></i> 공유하기
                    </a>
                    <a class="tab-item" href="#/app/adspot/{{item.Id}}">
                       <!--href="#/app/localinformation/{{item.id}}">-->
                        <i class="icon ion-chatbox-working"></i> 댓글({{item.Replies.length}})
                    </a>
                </div>
            </div>

        </ion-item>
    </ion-content>
</ion-view>
<!-- 현재위치로 맵 띄우기 예제
        <h3>lat : {{lat}}</h3>
        <h3>long : {{long}}</h3>
        <div id="map" style="max-height : 300px !important; margin-left : 5px !important; margin-right : 5px !important"></div>
-->
