<ion-view view-title='{{id}}'>
    <ion-content>
        <h1>Detail Page</h1>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable" style="height : 55px">
        <!-- <i class="ion-chatbubble-working" style="max-width : 30px;min-width : 30px; font-size : 28px; margin-right : 5px; margin-left : 3px"></i> -->
        <div class="row">
            <input type="text" placeholder="댓글을 달아주세요." class="col col-90" style="margin-right : 4px; padding-left : 4px" ng-model="reply">
                <button class="col button text-center" ng-click="doSomething()" style="min-width : 32px !important;">
                    <i class="ion-chatbubble-working" style=" font-size : 18px"></i>
                </button>
        </div>
    </ion-footer-bar>
</ion-view>
