<ion-view view-title='{{name}}'>
    <!-- <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    </ion-content> -->
    <ion-header-bar class="bar bar-subheader" style="height : 60px !important">
        <label class="item item-input item-select">
            <div class="input-label">
                품목
            </div>
            <select>
                <option>분식</option>
                <option selected>한식</option>
                <option>일식</option>
            </select>
        </label>
    </ion-header-bar>
    <my-example></my-example>
</ion-view>
