<ion-view view-title='{{name}}'>
    <ion-header-bar class="bar bar-subheader">
        <label class="item item-input item-select" style="height: 35px !important; padding: 0px !important">
            <div class="input-label" style="margin-left: 20px">
                품목
            </div>
            <select ng-model="searchProductType" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                <option selected="selected" value="-1">전체</option>
                <option ng-repeat="type in productType" value="{{type.Id}}">{{type.Type}}</option>
            </select>
        </label>
    </ion-header-bar>
    <ion-content has-bouncing="true" style="background-color: #eeeeee">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div>
            <div class="storeInfoContainer"
                 href="{{detailLink}}{{item.Id}}"
                 collection-repeat="item in items"
                 item-width="100%"
                 item-height="187px">
                <div class="storeInfo vertical-align-items row">
                    <div class="col">
                        <img ng-src="{{getImageURL(item.Images[0])}}">
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <div>
                            <p class="storeInfoMarketText">{{MarketName}}</p>
                            <p class="storeInfoMarketTitle">{{item.Name}}</p>
                            <div>
                                <a class="ion-star" style="color : orange; font-size : 15px"></a>
                                <a style="color : gray; font-size : 15px">{{item.BookmarkCount}}</a>
                            </div>
                        </div>
                        <div class="storeInfoText">
                            <p ng-show="name == '주변 상점 정보'">품목 : {{item.Product}}</p>
                            <p ng-show="name != '주변 상점 정보'">종료 : {{item.EventTo}}</p>

                            <p>문의 : {{item.Contact}}</p>
                            <p>주소 : {{item.Address}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <i class="storeInfoDetailArrow ion-ios-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll icon="ion-loading-c" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
