<ion-view view-title='{{name}}'>
    <ion-content id="detailListStyle">
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="4000">
            <!--  on-slide-changed="slideChanged(index)"> -->
            <ion-slide ng-repeat="image in images">
                <img class="full-image" ng-src="{{image}}">
            </ion-slide>
        </ion-slide-box>
        <div style="margin-top : 15px; margin-left : 30px">
            <p style="color : gray; font-size : 15px; margin-top : 5px !important">강릉 중앙시장</p>

            <p style="color : black; font-size : 23px ; margin-top : 5px !important">{{item.Name}}
                <a style="color : gray; font-size : 15px"> | </a>
                <a class="ion-star" style="color : orange; font-size : 15px"></a>
                <a style="color : gray; font-size : 15px">5</a>
            </p>
        </div>
        <div style="margin-top : 15px; margin-left : 30px">
            <p style="color : gray; font-size : 15px; margin : 0px">종료 : {{item.EventTo}}</p>

            <p style="color : gray; font-size : 15px; margin : 0px">문의 : {{item.Contact}}</p>

            <p style="color : gray; font-size : 15px; margin : 0px">주소 : {{item.Address}}</p>
        </div>
        <div align="center" class="row"
             style="margin : auto; margin-top : 15px; margin-left : 5%; margin-right : 5%; max-width : 90%">
            <button class="button col-50" style="margin : auto !important; max-width : 48% !important; min-height : 43px; max-height : 43px"
                    ng-click="favoriteClick()">
                <a class="ion-star"> 찜하기</a>
            </button>
            <button class="button col-50" style="margin : auto !important; max-width : 48% !important; min-height : 43px; max-height : 43px"
                    ng-click="callClick()">
                <a class="ion-ios-telephone"> 전화연결</a>
            </button>
        </div>
        <div style="background-color : #e7e7e7; min-width : 100%; padding : 12px; margin-top : 7px">
            <div class="card">
                <div class="item item-divider">
                    소개글
                </div>
                <div class="item item-text-wrap">
                    {{item.Description}}
                </div>
            </div>
        </div>
        <div style="background-color : #e7e7e7; min-width : 100%; padding : 12px; padding-top : 1px">
            <div class="card">
                <div class="item item-divider">
                    위치
                </div>
                <div class="item item-text-wrap">
                    <div id="map" style="min-height : 300px !important"></div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable" style="height : 55px">
        <!-- <i class="ion-chatbubble-working" style="max-width : 30px;min-width : 30px; font-size : 28px; margin-right : 5px; margin-left : 3px"></i> -->
        <div class="row">
            <input type="text" placeholder="댓글을 달아주세요." class="col col-90"
                   style="margin-right : 4px; padding-left : 4px" ng-model="reply">
            <button class="col button text-center" ng-click="doSomething()" style="min-width : 32px !important;">
                <i class="ion-chatbubble-working" style=" font-size : 18px"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
