<ion-view view-title='{{name}}'>
    <!--<ion-content>-->
        <!--<h1>SaleEvent</h1>-->
        <!--<ion-slide-box does-continue="true" auto-play="true" slide-interval="3000">-->
            <!--&lt;!&ndash;  on-slide-changed="slideChanged(index)"> &ndash;&gt;-->

            <!--<ion-slide ng-repeat="image in images">-->
                <!--<img class="full-image" ng-src="img/{{image.url}}">-->
            <!--</ion-slide>-->

        <!--</ion-slide-box>-->
    <!--</ion-content>-->
    <my-example></my-example>
</ion-view>
