<ion-view view-title='{{name}}'>
    <ion-content has-bouncing="true" style="background-color: #eeeeee">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <!--<div>-->
            <!--<div class="storeInfoContainer"-->
                 <!--ui-sref="app.saleeventdetail({unitid : item.Id})"-->
                 <!--collection-repeat="item in items"-->
                 <!--item-width="100%"-->
                 <!--item-height="187px">-->
                <!--<div class="storeInfo vertical-align-items row">-->
                    <!--<div class="col">-->
                        <!--<img ng-src="{{getImageURL(item.Images[0])}}">-->
                    <!--</div>-->
                    <!--<div class="col"></div>-->
                    <!--<div class="col">-->
                        <!--<div>-->
                            <!--<p class="storeInfoMarketText">{{MarketName}}</p>-->
                            <!--<p class="storeInfoMarketTitle">{{item.Name}}</p>-->
                            <!--<div>-->
                                <!--<a class="ion-star" style="color : orange; font-size : 15px"></a>-->
                                <!--<a style="color : gray; font-size : 15px">{{item.BookmarkCount}}</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="storeInfoText">-->
                            <!--<p ng-show="name == '주변 상점 정보'">품목 : {{item.Product}}</p>-->
                            <!--<p ng-show="name != '주변 상점 정보'">종료 : {{item.EventTo}}</p>-->

                            <!--<p>문의 : {{item.Contact}}</p>-->
                            <!--<p>주소 : {{item.Address}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<i class="storeInfoDetailArrow ion-ios-arrow-right"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div collection-repeat="item in items" style="margin : 5px" collection-item-height="355">
            <div ui-sref="app.localinformationdetail({unitid : item.Id})"
                 item-width="100%" item-height="400px">
                <div style="background-color: black; color : white">
                    <img ng-src="{{getImageURL(item.Images[0])}}" width="100%" style="height : 265px">

                    <div style="margin-left : 10px;margin-top:5px; height : 75px">
                        <span style="font-size: 22px; font-weight: bold;">{{item.Name}}</span>
                        <span class="ion-star" style="color : orange; font-size : 15px"></span>
                        <span style="font-size : 15px">{{item.BookmarkCount}}</span>
                        <span class="badge badge-assertive" style="font-size: 12px; float:right; margin-right : 10px !important;">이벤트중</span>
                        <span class="room_addr">{{item.Address}}</span>
                        <span class="room_addr">{{item.Contact}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll icon="ion-loading-c" on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
