<ion-view view-title='{{name}}'>
    <ion-content>
        <ul class="list">

            <li class="item item-toggle">
                알림
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li>
                <div class="item range">
                    <span style="margin-right : 20px">검색범위</span>
                    <i>1km</i>
                    <input type="range" name="volume">
                    <i>5km</i>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>