/* Empty. Add your own CSS if you like */
div.hscroller {

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.scroll {
    min-width: 100%;
}

#ionListItemStyle .card {
    margin: 13px !important;
}

#detailListStyle .card {
    margin: 5px !important;
}

a.activated {
    background-color: inherit !important;
}

.item-avatar {
    margin: 0 !important;
}

.item-content {
    max-width: 100% !important;
    padding: 3px !important;
}

.item-content {
    max-width: 100% !important;
    padding: 0 !important;
    background-color: #EEEEEE;
}

#item-menu-style .item-content {
    padding: 15px !important;
}


.ionListItemCardStyle .activated{
    background-color: #EEEEEE !important;
}

.ng-binding {
    margin: 0 !important;
}

.full-image {
    margin: 0 !important;
}

div.description {
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 0; /* position will be on bottom */
    left: 0;
    width: auto; /* 100%; */
    /* styling bellow */
    background-color: black;
    font-size: 15px;
    color: white;
    opacity: 0.8; /* transparency */
    filter: alpha(opacity=60); /* IE transparency */
}

i.description_content {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.mfb-component__button--main {
    background-color: #ffca2c !important;
}

.mfb-component--tl, .mfb-component--tr, .mfb-component--bl, .mfb-component--br {
    margin: 10px !important;
}

.slider-pager .slider-pager-page {
    width: 12px;
    color: #DDDDDD;
    opacity: 0.4;
    font-size: 9px;
}

.mfb-component__icon, .mfb-component__main-icon--active,
.mfb-component__main-icon--resting, .mfb-component__child-icon {
    font-size: 28px !important;
}

.item-content-leftmenu {
    padding-left: 15px !important;
}

#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

.slider {
    height: 40%;
}

.pointBackground {
    background: #34BAAA !important;
}

.pointFontColor {
    color: white !important;
}

ion-header-bar {
    background: #34BAAA !important;
}

.title, .ion-navicon, .header-item {
    color: white !important;
}

.item-complex {
    padding: 0 !important;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.shop-item.ng-enter {
    /*-webkit-animation: fadeIn 1s;*/
    /*animation: fadeIn 1s;*/
}

.shop-item.ng-enter-stagger {
    /*-webkit-animation-delay: 300ms;*/
    /*animation-delay: 300ms;*/
    /*-webkit-animation-duration: 0s;*/
    /*animation-duration: 0s;*/
}

.image-item.ng-enter {
    /*-webkit-animation: fadeIn 1s;*/
    /*animation: fadeIn 1s;*/
}

.image-item.ng-enter-stagger {
    /*-webkit-animation-delay: 300ms;*/
    /*animation-delay: 300ms;*/

    /*-webkit-animation-duration: 0s;*/
    /*animation-duration: 0s;*/
}

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.bookmarked {
    color: orange;
}

.storeInfoContainer {
    padding: 10px;
}

.vertical-align-items {
    align-items: center;
    justify-content: center
}

.storeInfo {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.storeInfo p,span {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.storeInfo .col img {
    width: 100%;
    height: 120px;
}

.storeInfoText {
    margin-top: 15px;
}

.storeInfoText p {
    color : gray;
    font-size : 15px;
}

.storeInfoMarketText {
    color : gray;
    font-size : 15px;
}

.storeInfoMarketTitle {
    color : black;
    font-size : 20px;
    padding-top : 5px;
}

.storeInfoDetailArrow {
    font-size : 30px;
    color : gray;
}

.storeInfo .col:nth-child(1) {
    flex:2;
}

.storeInfo .col:nth-child(2) {
    flex: none;
    width: 5px;
}

.storeInfo .col:nth-child(3) {
    flex:5;
}

.storeInfo .col:nth-child(4) {
    flex: none;
    width: 20px;
}
.room_phone {
    text-align: center;
    font-size: 20pt;
    border-radius: 5px;
    background-color: #01A1DB;
}

.room_addr {
    display: block;
    font-weight: bold;
    font-size: 12pt;
}