/* Empty. Add your own CSS if you like */
div.hscroller {

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

div.wrapper{
    float:center; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}

.card {
    margin-top : 2px !important;
    margin-bottom : 3px !important;
    margin-left : 2px !important;
    margin-right : 2px !important;
    min-width : 98% !important;
}

a.activated {
    background-color: inherit !important;
}

.item-avatar {
    margin : 0px !important;
}

.item-content, .item-body {
    max-width: 100% !important;
    padding-left: 3px !important;
    padding-right : 3px !important;
}

.ng-binding {
    margin : 0px !important;
}

.full-image {
    margin : 0px !important;
}

div.description{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:auto; /* 100%; */
    /* styling bellow */
    background-color:black;
    font-size:15px;
    color:white;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}

i.description_content{
    align : center;
    padding:10px;
    margin:0px;
}

.mfb-component__button--main{
  background-color: black !important;
}

.mfb-component--tl, .mfb-component--tr, .mfb-component--bl, .mfb-component--br {
  margin: 10px !important;
  size : 20px !important;
}
.mfb-component__icon, .mfb-component__main-icon--active,
.mfb-component__main-icon--resting, .mfb-component__child-icon {
  font-size: 28px !important;
}

.item-content-leftmenu {
    padding-left : 15px !important;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
